{{extend 'comic_layout.html'}}
<div class="mainLeft">
    <div class="divTitle">Largest comic-boxes</div>

    {{print 'Pass1'}}
    {{if len(largest_boxes)>0:}}
    {{print 'Pass2'}}
        {{for row in largest_boxes:}}
            {{=row}}
            {{#include "subviews/comicbox.html"}}
        {{pass}}
    {{pass}}
</div>

<div class="mainRight">
    <div class="divTitle">Most recent comic-boxes</div>
    {{if len(recent_boxes)>0:}}
        {{for row in recent_boxes:}}
            {{=row}}
            {{#include "subviews/comicbox.html"}}
        {{pass}}
    {{pass}}
</div>