{{include 'comic_layout.html'}}
<!--<form enctype="multipart/form-data" action="{{=URL('default', 'search')}}" method="post">
    <label> Keyword
        <input name="keyword"/>
    </label>
    <label> Title
        <input name="title"/>
    </label>
    <label> Writer
        <input name="writer"/>
    </label>
    <label> Artist
        <input name="artist"/>
    </label>
    <label> Publisher
        <input name="publisher"/>
    </label>
    <input type="submit" value="Submit">
</form> -->
<div id="searchform" style="width:52em; margin:0 auto;">
    {{=form}}
</div>
{{if len(search_results)>0:}}
    <div id="searchresults">
    <table class="searchresultstable">
        <tr>
            <th style="text-align: center;">User id</th>
            <th style="text-align: center;">Box name</th>
            <th style="text-align: center;">Title</th>
            <th style="text-align: center;">Publisher</th>
            <th style="text-align: center;">Issue number</th>
            <th style="text-align: center;">Writers</th>
            <th style="text-align: center;">Artists</th>
            <th style="text-align: center;">View</th>
            <th style="text-align: center;">Edit</th>
            <th style="text-align: center;">Copy</th>
        </tr>
    {{for row in search_results:}}
        <tr>
            <td class="first" align="center">{{=row.comicbox.user_id}}</td>
            <td align="center">{{=row.comicbox.name}}</td>
            <td align="center">{{=row.comicbook.title}}</td>
            <td align="center">{{=row.publisher.name}}</td>
            <td align="center">{{=row.comicbook.issue_number}}</td>
            <td align="center">{{=row.writerNames}}</td>
            <td align="center">{{=row.artistNames}}</td>
            <td align="center"><a href="{{=URL('comics', 'comicview', vars={'comicbookid': row.comicbook.id})}}"><img src="{{=URL('static', 'images', args='view.png')}}" class="comic-editing-icon" height="20px" width="20px"/></a></td>
            {{if auth.is_logged_in():}}
                {{if row.isOwnedByCurrentUser:}}
                    <td align="center"><a href="{{=URL('comics', 'comicedit', vars={'comicbookid': row.comicbook.id})}}"><img src="{{=URL('static', 'images', args='edit.png')}}" class="comic-editing-icon" height="20px" width="20px"/></a></td>
                    <td class="last"></td>
                {{else:}}
                    <td></td>
                    <td class="last" align="center"><a href="{{=URL('comics', 'comiccreate', vars={'comicbookid': row.comicbook.id})}}"><img src="{{=URL('static', 'images', args='copy.png')}}" class="comic-editing-icon" height="20px" width="20px"/></a></td>
                {{pass}}
            {{else:}}
                <td></td>
                <td class="last"></td>
            {{pass}}

        </tr>
        {{pass}}
        </table>

    </div>
{{pass}}