{{include 'comic_layout.html'}}
<!--<form enctype="multipart/form-data" action="{{=URL('default', 'search')}}" method="post">
    <label> Keyword
        <input name="keyword"/>
    </label>
    <label> Title
        <input name="title"/>
    </label>
    <label> Writer
        <input name="writer"/>
    </label>
    <label> Artist
        <input name="artist"/>
    </label>
    <label> Publisher
        <input name="publisher"/>
    </label>
    <input type="submit" value="Submit">
</form> -->

{{=form2}}
{{=search_results}}
