<div class="comicbox">
    <div class="comicbox-title">
        {{=row.box_name}}  {{=row.created_on}}
    </div>

    <div class="comics-area">
        {{if len(user_boxes_data)>0:}}
            {{for sub_row in user_boxes_data:}}
                {{if sub_row.box_id==row.id:}}
                    <div class="comic-icon">
                            <img height="130" width="100" src="{{=URL('download', args=sub_row.cover)}}"/>
                    </div>
                {{pass}}
            {{pass}}
        {{pass}}
    </div>
</div>

