<div class="comicbox">
    <div class="comicbox-title">
        {{=box[0].name}}  {{=box[0].created_on}} {{=box[0].count}}
    </div>

    <div class="comics-area">
        {{if len(box[1])>0:}}
            {{for comic in box[1]:}}
                    <div class="comic-icon">
                            <img height="130" width="100" src="{{=URL(r=request, c='default', f='fast_download',  args=comic.cover, host=True)}}"/>
                    </div>
            {{pass}}
        {{else:}}
            Empty box
        {{pass}}
    </div>
</div>

