<div class="comicbox">
    <div class="comicbox-title">
        {{=row.box_name}}
    </div>
    <div class="box-attribute">
        {{=row.created_on}}
    </div>
    <div class="comics-area">
        {{if len(user_boxes_data)>0:}}
            {{for sub_row in user_boxes_data:}}
                {{if sub_row.comicbook.box_id==row.id:}}
                    <div class="comic-icon">
                        {{=sub_row.comicbook.title}}
                            <img height="40" width="30" src="{{=URL('download', args=sub_row.comicbook.cover)}}"/>
                    </div>
                {{pass}}
            {{pass}}
        {{pass}}
    </div>
</div>

