<!--Exam candidate number: Y0076159-->
<div class="comicbox">
    <div class="comicbox-title">

        <div style="float:left; font-size: 1.3em; padding-left:1em">
            {{=box[0].name}} with {{=box[0].count}} comics.
        </div>
            <div style="float:right; padding-top: 0.15em; padding-right:1em" >
                <a href="{{=URL('boxes', 'boxview', vars={'boxid': box[0].id})}}">See more</a>
            </div>
    </div>

    <div class="comics-area">
        {{for comic in box[1]:}}
            {{if len(comic.cover)>0:}}
               <img class="comicbox-comic-icon" height="100" width="75" src="{{=URL(r=request, c='default', f='fast_download',  args=comic.cover, host=True)}}"/>
            {{else:}}
                <img class="comicbox-comic-icon" height="100" width="75" src="{{=URL('static', 'images', args='comic_cover_placeholder.png')}}"/>
            {{pass}}
        {{pass}}
    </div>
</div>

