

.indexLeft {
    float:left;
    width:49%;
}
.indexRight {
    float:right;
    width:49%;
}

.divTitle {
    text-align:center;
    font-size: 2em;
    border-bottom-style:groove;
}

.comicbox-title {
    border: 1px solid;
    text-align: center;
    width: 100%;
    height:2em;
    font-size: 1em;
    float:left;
    clear:both;
    overflow:hidden;
}

.comicbox {
    border: 1px solid black;
    width: 452px;
    overflow: hidden;
    margin: 1em auto;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.comicbox-comic-icon{
    float:left;
}

.box-attribute {
    float:left;
    clear:both;
}

.comic-icon {
    float:left;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.comic-icon:hover{
    opacity: 1;
}


.comic {
    background-size: 100%;
    height:200px;
    width:150px;
    opacity: 1;
    margin: 0.5em;
    float:left;
}

.comictitle{
    text-align: center;
}


.hovertext{
    position: relative;
    height:100%;
    width:100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255,255,255,0);
    padding: 0.5em;
    overflow: hidden;
}

/*background-image: url({{=URL('download', args=row.comicbook.cover, host=True)}});*/
.hovertext:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255,255,255,0.8);
}

.comic-editing{
    position: absolute;
    bottom: 0;
    float: right;
    right: 0;
}

.comic-editing-icon{
    margin:0.1em;
}


.form-field{
    clear:both;
    float:left;
    width:100%;
    padding-top:1em;
}

.deleteIcon{
    cursor: pointer;
}

.searchresultstable{
    width:75em;
    margin: 0 auto 6em;
}



table.searchresultstable tr:hover td{
    background: #28b4e7;
}

td.first{
    border-radius:5px 0 0 5px;
}

td.last{
    border-radius:0 5px 5px 0;
}

.pagetitle{
    width: 100%;
    text-align: center;
    font-size: 3em;
}

#myboxes{
  -webkit-column-count: 3;
    column-count:3;
    column-gap:1em;
}

