

.mainLeft {
    float:left;
    width:49%;
    overflow:hidden;
}
.mainRight {
    float:right;
    width:49%;
    overflow:scroll;
}

.divTitle {
    text-align:center;
    font-size: 2em;
    border-bottom-style:groove;
}

.comicbox-title {
    border: 1px solid;
    text-align: center;
    width: 100%;
    height:2em;
    font-size: 1em;
    float:left;
    clear:both;
    overflow:hidden;
}

.comicbox {
    border: 1px dotted black;
    width:16em;
    height: 16em;
    float:left;
    margin: 1em;
    overflow:hidden;
}

.box-attribute {
    float:left;
    clear:both;
}

.comic-icon {
    float:left;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.comic-icon:hover{
    opacity: 1;
}


.comic {
    background-size: 100%;
    height:200px;
    width:150px;
    opacity: 1;
    margin: 0.5em;
    float:left;
}

.comictitle{
    text-align: center;
}


.hovertext{
    position: relative;
    height:100%;
    width:100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255,255,255,0);
    padding: 0.5em;
}

/*background-image: url({{=URL('download', args=row.comicbook.cover, host=True)}});*/
.hovertext:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
    background: rgba(255,255,255,0.8);
}

.comic-editing{
    position: absolute;
    bottom: 0;
    float: right;
    right: 0;
}


.form-field{
    clear:both;
    float:left;
    width:100%;
    padding-top:1em;
}