<!--Exam candidate number: Y0076159-->
{{extend 'comic_layout.html'}}
<div class="pagetitle">
    {{=title}}
</div>

<div style="float:left">
<img height="400" width="300" src="{{=URL(r=request, c='default', f='fast_download',  args=cover, host=True)}}"/>
</div>

<div style="padding-left:1em; float:left; width:60em">
{{if (issue_number is not None) & len(issue_number)>0:}}
    <p>Issue number: {{=issue_number}}</p>
{{pass}}
{{if len(writers)>0:}}
    <p>
        Writers:
        <ul>
        {{for writer in writers:}}
            <li>{{=writer}}</li>
        {{pass}}
      </ul>
    </p>
{{pass}}
{{if len(artists)>0:}}
    <p>
        Artists:
        <ul>
        {{for artist in artists:}}
            <li>{{=artist}}</li>
        {{pass}}
        </ul>
    </p>
{{pass}}
{{if publisher is not None:}}
    {{if len(publisher)>0:}}
        <p>Published by {{=publisher}}</p>
    {{pass}}
{{pass}}
{{if description is not None:}}
    {{if len(description)>0:}}
        <p>{{=description}}</p>
    {{pass}}
{{pass}}
{{if owns_comic:}}
    <a href="{{=URL('comics', 'comicedit', vars={'comicbookid': comicbookid})}}"><img src="{{=URL('static', 'images', args='edit.png')}}" class="comic-editing-icon" height="40px" width="40px"/></a>
    <img class="deleteIcon" onclick="deleteComic('{{=comicbookid}}', '{{=title}}', '{{=URL('comics', 'comicdelete')}}', '{{=URL('comics', 'mycomics')}}')" src="{{=URL('static', 'images', args='delete.png')}}" height="40px" width="40px"/>

{{pass}}
    <a href="{{=URL('comics', 'comiccreate', vars={'comicbookid': comicbookid})}}"><img src="{{=URL('static', 'images', args='copy.png')}}" class="comic-editing-icon" height="40px" width="40px"/></a>
    <a href="{{=URL('boxes', 'boxview', vars={'boxid': comicbookid})}}"><img src="{{=URL('static', 'images', args='box.png')}}" class="comic-editing-icon" height="40px" width="40px"/></a>

</div>