{{extend 'comic_layout.html'}}
<script src="{{=URL('static','js/formscripts.js')}}"></script>
{{comic = comicbook_details[0]}}
<div style="clear:both; width:100%; float:left; padding:1em">
    <form enctype="multipart/form-data" action="{{=URL('default', 'search')}}" method="post">
        <div class="form-field">
            <label for="title">Title</label>
            <input id="title" name="title" value="{{=comic.comicbook.title}}"/>
        </div>
        <div class="form-field">
            <label for="box_name">Box name</label>
                {{if len(user_boxes)>0:}}
                    <select id="box_name" name="box_name">
                    {{for row in user_boxes:}}
                        <option value="{{=row.name}}">{{=row.name}}</option>
                    {{pass}}
                    </select>
                {{else:}}
                    No user boxes, please create a box first!
                {{pass}}
        </div>
        <div class="form-field">
            Current image: <img id='preview-image' height="130" width="100" src="{{=URL(r=request, c='default', f='fast_download',  args=comic.comicbook.cover, host=True)}}"/>
        </div>
        <div class="form-field">
            <label  for="cover">Cover</label>
            <input id="cover" name="cover" type="file" onchange="readURL(this);"/>
        </div>
        <div class="form-field">
            <label for="artist">Artists</label>
            <input id="artist" name="artist"/>
        </div>
        <div class="form-field">
            <label class="form-label" for="writer">Writers</label>
            <input id="writer" name="writer"/>
        </div>
        <div class="form-field">
            <label class="form-label" for="publisher">Publisher</label>
            <input id="publisher" name="publisher" value="{{=comic.publisher.name}}"/>
        </div>

        <div class="form-field" >
            <label class="form-label" for="issue-number">Issue-number</label>
            <input id="issue-number" name="issue-number" value="{{=comic.comicbook.issue_number}}"/>
        </div>

        <div  class="form-field">
            <label class="form-label" for="description">Description</label>
            <textarea id="description" name="description" cols="40" rows="10">{{=comic.comicbook.description}}</textarea>
        </div>



        <div  class="form-field">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

{{#=existing_publishers}}
{{#=existing_artists}}
{{#=existing_writers}}
{{#=comicbook_details}}
{{#=comicbook_details[0].comicbook.title}}
{{#=form}}